@font-face{
    font-family: 'Norse';
    src:url(assets/fonts/Norse-Bold.otf)
}

@font-face{
    font-family: 'Josefin';
    src:url(assets/fonts/JosefinSans-VariableFont_wght.ttf);
}

*{
    margin: 0;
    padding: 0;
}

body{ 
    font-family: Josefin;
    display: flex;
    min-height: 100vh;
    background-color: #191724;
}

.img-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 50%;
    background-image: url('assets/nicolas-caetano-IwjD_KaMGbo-unsplash.jpg');
    background-position: center;
    background-size: cover;
}

.logo-div{
    display: flex;
    margin-top: 10rem;
    gap: 25px;
    justify-content: center;
    align-items: center;
    font-family: Norse;
    color: white;
    font-size: 5rem;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 200px;
}
#credits{
    font-size: 20px;
    color: white;
    position: absolute;
    bottom: 5%;
}

#odin-logo{
    width: 10rem;
    height: 12rem;
}

a{
    color: white;
}

a:hover{
    color: grey;
}

.text-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 2rem;
    width: auto;
    height: 300px;
    font-size: 2rem;
    color: white;
    
}

.form-container{
    display: flex;
    background-color: #232136;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: auto;
    height: 500px;
}

.container{
    display: flex;
    flex-direction: column;
    width: 100%;

}
label{
    color: white;
}
.column{
    gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5em;
    width: 35%;
    height: 70%;
}

form{
    font-size: 1.5rem;
    display: flex;
    width: 100%;
    height: 500px;

}
input{
    font-family: Josefin;
    font-size: 16px;
    width: 300px;
    height: 30px;
    border-radius: 10px;
    border: none;

}

