@font-face{
    font-family: 'Norse';
    src:url(assets/fonts/Norse-Bold.otf)
}

@font-face{
    font-family: 'Josefin';
    src:url(assets/fonts/JosefinSans-VariableFont_wght.ttf);
}

*{
    margin: 0;
    padding: 0;
}

body{ 
    font-family: Josefin;
    display: flex;
    color: #faf4ed;
    min-height: 100vh;
    background-color: #191724;
}

.img-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 50%;
    background-image: url('assets/nicolas-caetano-IwjD_KaMGbo-unsplash.jpg');
    background-position: center;
    background-size: cover;
}

.logo-div{
    display: flex;
    margin-top: 10rem;
    gap: 25px;
    justify-content: center;
    align-items: center;
    font-family: Norse;
    color: #faf4ed;
    font-size: 5rem;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 200px;
}
#credits{
    font-size: 20px;
    color: #faf4ed;
    position: absolute;
    bottom: 5%;
}

#odin-logo{
    width: 10rem;
    height: 12rem;
}

a{
    color: #c4a7e7;
    text-decoration: underline;
}

a:hover{
    color: #907aa9; 
    cursor: pointer;
}

.text-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 2rem;
    width: auto;
    height: 300px;
    font-size: 2rem;
    color: #faf4ed;
    
}

.form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #232136;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: auto;
    height: 500px;
}

.container{
    display: flex;
    flex-direction: column;
    width: 100%;

}
label{
    color: #faf4ed;
}
.column{
    gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5em;
    width: 35%;
    height: 85%;
}

.left-column{
    margin-top: 50px;
}

form{
    font-size: 1.5rem;
    display: flex;
    width: 100%;
    height: 500px;
}

input{
    font-family: Josefin;
    font-size: 16px;
    background-color: #faf4ed;
    width: 300px;
    height: 30px;
    border-radius: 10px;
}


input:invalid{
    border: 3px solid #eb6f92;
}

input:valid{ 
    border: 3px solid #9ccfd8;
}

input:placeholder-shown {
    border: 3px solid #9893a5;
}

input:focus, textarea:focus, select:focus {
    outline: none;
    border: 4px solid #c4a7e7;
    transition: border-color 0.3s ease, box-shadow 0.3s ease; /* Animate border color and shadow */
}

input, textarea, select {
  padding: 4px;
}

button{
    font-family: Josefin;
    font-size: 1rem; 
    background-color: #191724;
    border: 2px solid #faf4ed; 
    border-radius: 10px;
    color: #faf4ed;
    margin-top: 1em;
    width: 125px;
    height: 45px;
    cursor: pointer;
}

button:hover{
    background-color: #21202e;
    border: 2px solid white;
    color: white;
}
