@font-face{
    font-family: 'Norse';
    src:url(assets/fonts/Norse-Bold.otf)
}

@font-face{
    font-family: 'Josefin';
    src:url(assets/fonts/JosefinSans-VariableFont_wght.ttf);
}

*{
    margin: 0;
    padding: 0;
}

body{ 
    font-family: Josefin;
    display: flex;
    min-height: 100vh;
    background-color: #191724;
}

.img-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 60vh;
    min-width: 40vh;
    background-image: url('assets/nicolas-caetano-IwjD_KaMGbo-unsplash.jpg');
    background-position: center;
    background-size: cover;
}

.logo-div{
    display: flex;
    margin-top: 10rem;
    gap: 25px;
    justify-content: center;
    align-items: center;
    font-family: Norse;
    color: white;
    font-size: 5rem;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 200px;
}
#credits{
    font-size: 20px;
    color: white;
    position: absolute;
    bottom: 5%;
}

#odin-logo{
    width: 10rem;
    height: 12rem;
}

a{
    color: white;
}

a:hover{
    color: grey;
}

